* {
	font-family: sans-serif;
	box-sizing: border-box;
}

button {
	display: block;	
	background-color: #fff;
	height: 42px;
	width: 200px;
	text-align: center;
	font-size: 	16px;
	margin: 5px;
}

select {
    width: 40px;
    margin: 0px 10px;
    font-size: 16px;
    display: inline-block;
}

p {
	margin: 10px;
	font-size: 15px;
	display: block;
}

input {
	display: block;
	margin: 10px;
}

#resol {
	display: inline-block;
}