img.wrong-rotation {
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.my-carousel img {
    width: 100%;
    image-orientation: from-image;
}

.inactive {
    display: none;
}

.active( {
    display: block;
}
