@basic-color: #03A9F4;
@block-color: #fff;
@button-color: #8BC34A;
@light-color: #B3E5FC;
@paragraph-color: #BDBDBD;
@white: #fff;

.block-shadow {
	-webkit-box-shadow: 0 10px 50px -5px lighten(#BDBDBD, 20%);
	box-shadow: 0 10px 50px -5px lighten(#BDBDBD, 10%);
}

body {
	text-align: center;
	background-color: @basic-color;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}
button:focus, input:focus, a:focus, textarea:focus {
	outline: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.content {
	padding-top: 30px;
	h1 {
		display: inline-block;
		color: @white;
	}
	h2 {
		margin-top: 20px;
		color: @light-color;
	}
	p {
		margin-top: 10px;
		color: @light-color;
	}
}

.block {
	margin-top: 40px;
	.block-content {
		background-color: @block-color;
		border-radius: 30px;
		height: 300px;
		padding-top: 5%;
		position: relative;
		overflow: hidden;
		.block-shadow;
	}
	h6 {
		font-size: 1.5em;
	}
	p {
		margin-top: 5%;
		font-size: 0.8em;
		color: @paragraph-color;
	}
	img {
		margin-top: 10%;
		height: 33%;
	}
	.go-btn {
		width: 100%;
		background-color: @button-color;
		position: absolute;
		bottom: 10%;
		height: 30px;
	}
	a {
		color: @white;
	}
	.hover-me {
		margin: 10% auto;
		height: 15%;
		background-color: #212121;
		width: 50%;
		color: @white;
		transition: all 2s;
		font-size: 1.5em;
		&:hover {
			width: 100%;
			background-color: #B3E5FC;
		}
	}
	.hamburger-button {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		box-shadow: 1px 2px 10px rgba(0,0,0,.2);
		margin-top: 15%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		cursor: pointer;
	}
	.lesson-menu, .lesson-menu:before, .lesson-menu:after {
		display: block;
		height: 2px;
		width: 18px;
		position: absolute;
		left: 50%;
		margin-left: -9px;
		top: 50%;
		margin-top: -1px;
		background-color: #333;
	}
	.lesson-menu:before {
		transition: all 0.3s;
		margin-top: -6px;
		content: '';
	}
	.lesson-menu:after {
		transition: all 0.3s;
		margin-top: 4px;
		content: '';
	}
	.lesson-menu_active {
		background-color: transparent;
		&:before {
			transform: rotate(-135deg);
			margin-top: 0;
			transition: all 0.2s;
		}
		&:after {
			transform: rotate(135deg);
			margin-top: 0;
			transition: all 0.2s;
		}
	}
}