
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas/BebasNeueCyrillic.eot');
    src: url('../fonts/bebas/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebas/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/bebas/BebasNeueCyrillic.woff') format('woff'),
        url('../fonts/bebas/BebasNeueCyrillic.ttf') format('truetype'),
        url('../fonts/bebas/BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular.eot');
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/lato/Lato-Regular.woff') format('woff'),
        url('../fonts/lato/Lato-Regular.ttf') format('truetype'),
        url('../fonts/lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.bebas {
	font-family: 'Bebas', sans-serif;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.lato {
	font-family: 'Lato', sans-serif;
}



